## Modeling a Registration Database

* It is registration time, and of course the registration process is driven by the online registration system.
* Lets think about this and develop a data model for registration.

1.  What are the main entities involved?
2.  Ask the question "what do we want to remember about each entity
3.  How do we uniquely identify each entity?
4.  for each attribute are there other things we want to remember? 

    1. If so, then promote that attribute to an entity.
    2. What are the relationships between these entities?

In [3]:
import warnings
warnings.filterwarnings('ignore')

%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### Turning our Model into a database

* We will use SQL Data Definition Language (DDL) to create a table
* Full documentation is here: http://www.postgresql.org/docs/9.4/static/sql-createtable.html
* More than you want to know at the moment.

* give the table a name
* describe each column with a name and a data type

  * integer
  * real -- float
  * text -- varchar
  * date 
  
* describe any constraints
* for today important constraint is to identify the primary key

In [4]:
%%sql 

postgresql://millbr02:@localhost/millbr02

'Connected: millbr02@millbr02'

In [9]:
%%sql

drop table student;

create table student (
    student_id integer,
    start_date date,
    first_name varchar(20),
    last_name varchar(20),
    
    constraint sid_key primary key(student_id)
);

Done.
Done.

[]

### Populating the database

SQL provides another statement, called the ``insert`` statement


    insert into table [(list of columns)] values(val1, val2, ... val3);
    
The list of columns is optional.  If it is not given then val1, val2, etc. must be in the order they appear in the create table statement.  If you give the column list then the columns and values must be in the same order.

If you do not give a column its value will be null or the default value you specify.

In [11]:
%%sql

insert into student values(12345, '2015-11-02', 'John', 'Adams');

1 rows affected.

[]

In [12]:
%%sql

select * from student;

1 rows affected.

[(12345, datetime.date(2015, 11, 2), 'John', 'Adams')]

In [13]:
%%sql

select column_name, data_type, character_maximum_length
from INFORMATION_SCHEMA.COLUMNS where table_name = 'student';

4 rows affected.

[('student_id', 'integer', None),
 ('start_date', 'date', None),
 ('first_name', 'character varying', 20),
 ('last_name', 'character varying', 20)]