## Administrivia

* start terminal window in browswer
* ``nbgrader extension activate``
* Now check for the assignment tab
* copy/paste your answers into the appropriate cells and submit
* There is a second assignment for you as well.

## Modeling a Registration Database

* It is registration time, and of course the registration process is driven by the online registration system.
* Lets think about this and develop a data model for registration.

1.  What are the main entities involved?
2.  Ask the question "what do we want to remember about each entity
3.  How do we uniquely identify each entity?
4.  for each attribute are there other things we want to remember? 

    1. If so, then promote that attribute to an entity.
    2. What are the relationships between these entities?
    
Here is one version of the Data Model (LDS) from class.   **Notice that there are several many-many relationships**  These relationships need to be further evolved, but we will keep them this way for now.

![](course_lds.jpg)

In [2]:
import warnings
warnings.filterwarnings('ignore')

%load_ext sql

### Turning our Model into a database

* We will use SQL Data Definition Language (DDL) to create a table
* Full documentation is here: http://www.postgresql.org/docs/9.4/static/sql-createtable.html
* More than you want to know at the moment.

* give the table a name
* describe each column with a name and a data type

  * integer
  * real -- float
  * text -- varchar
  * date 
  
* describe any constraints
* for today important constraint is to identify the primary key

In [3]:
%%sql 

postgresql://millbr02:@localhost/millbr02

'Connected: millbr02@millbr02'

In [4]:
%%sql

drop table if exists student;

create table student (
    student_id integer,
    start_date date,
    first_name varchar(20),
    last_name varchar(20),
    
    constraint sid_key primary key(student_id)
);

Done.
Done.

[]

### Populating the database

SQL provides another statement, called the ``insert`` statement


    insert into table [(list of columns)] values(val1, val2, ... val3);
    
The list of columns is optional.  If it is not given then val1, val2, etc. must be in the order they appear in the create table statement.  If you give the column list then the columns and values must be in the same order.

If you do not give a column its value will be null or the default value you specify.

In [18]:
%%sql

-- insert into student (first_name, last_name)  values('John', 'Appleseed');

delete from student where first_name = 'John';

2 rows affected.

[]

In [19]:
%%sql

select * from student;

2 rows affected.

[(12347, None, 'George', 'Johnson'),
 (12345, datetime.date(2015, 11, 2), 'George', 'Johnson')]

In [7]:
%%sql

select column_name, data_type, character_maximum_length
from INFORMATION_SCHEMA.COLUMNS where table_name = 'student';

4 rows affected.

[('student_id', 'integer', None),
 ('start_date', 'date', None),
 ('first_name', 'character varying', 20),
 ('last_name', 'character varying', 20)]