In [2]:
from notebook.services.config import ConfigManager
cm = ConfigManager()
cm.update('livereveal', {
              'theme': 'solarized',
              'transition': 'zoom',
              'start_slideshow_at': 'selected',
})

import warnings
warnings.filterwarnings('ignore')

# CS-140 Data Modeling and Querying
![exploits_of_a_mom.png](exploits_of_a_mom.png)

## Administrivia

* Office Hours:  Olin 321
* Contact:  ``bmiller@luther.edu``   or   on google talk ``millbr02``   or tweet me:  ``bnmnetp``
* Grading

  * Homework
  * Two exams - mid-term and final - maybe some quizzes
  * Participation
  
* Note:  This is the first time we are offering this class.  Be Flexible
* All my Class Notes and Examples will be available online

## A (sort of) Schedule for the course

![](CourseApproach.png)

## A (sort of) Schedule for the course


1. Week of Oct 26 -- Intro and Overview Single Relation Operations
2. Week of Nov 2 -- Modeling Single Relations and DDL and grouping and aggregating
3. Week of Nov 9 -- Modelling One to Many Relations
4. Week of Nov 16 -- Two table Joins
5. Week of Nov 23 -- Thanksgiving Vacation Wed-Fri
6. Week of Nov 30 -- Modelling Many to Many Relations
7. Week of Dec 7 -- Multiple Table Joins

## Goals for the course

* Learn how to turn data into information
* Introduce Data Modeling
* Understand the theoretical ideas of Relations and Relational Algebra
* Learn the practical skill of writing queries in SQL

### Turning data into information

* At the heart of the big data revolution
* A very liberal arts thing to do -- Requires problem solving, **and** communication
* Requires more than just a passing skill at querying the database

### Introduce Data Modeling

* Key tool for communication
* Describes the **schema** of the data -- the type or kinds of data, not the data itself
![country_lds.png](country.png)

* Describes relationships between things

![city_.png](country_city.png)

### Relational Algebra

#### Key Terms

* Relation
* Tuple
* Operator

  * The result of applying an operator to a relation is another relation

### A Relation with country data

In [1]:
from reframe import Relation
    
country = Relation('country.csv',sep='|')

In [2]:
country.head()

,code,name,continent,region,surfacearea,indepyear,population,lifeexpectancy,gnp,gnpold,localname,governmentform,headofstate,capital,code2
0,AFG,Afghanistan,Asia,Southern and Central Asia,652090,1919,22720000,45.9,5976,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1,AF
1,NLD,Netherlands,Europe,Western Europe,41526,1581,15864000,78.3,371362,360478,Nederland,Constitutional Monarchy,Beatrix,5,NL
2,ANT,Netherlands Antilles,North America,Caribbean,800,NaN,217000,74.7,1941,NaN,Nederlandse Antillen,Nonmetropolitan Territory of The Netherlands,Beatrix,33,AN
3,ALB,Albania,Europe,Southern Europe,28748,1912,3401200,71.6,3205,2500,Shqipëria,Republic,Rexhep Mejdani,34,AL
4,DZA,Algeria,Africa,Northern Africa,2381740,1962,31471000,69.7,49982,46966,Al-Jazair/Algérie,Republic,Abdelaziz Bouteflika,35,DZ

### A Tuple

* A Tuple is a single row/record of a relation

In [60]:
country.head(1)

,code,name,continent,region,surfacearea,indepyear,population,lifeexpectancy,gnp,gnpold,localname,governmentform,headofstate,capital,code2
0,AFG,Afghanistan,Asia,Southern and Central Asia,652090,1919,22720000,45.9,5976,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1,AF

## Relational Algebra:
### project

In [3]:
country.project(['code','name','region']).head()

  code                  name                     region
0  AFG           Afghanistan  Southern and Central Asia
1  NLD           Netherlands             Western Europe
2  ANT  Netherlands Antilles                  Caribbean
3  ALB               Albania            Southern Europe
4  DZA               Algeria            Northern Africa

## Relational Algebra:

### filter

In [4]:
country.query('indepyear < 1200')

,code,name,continent,region,surfacearea,indepyear,population,lifeexpectancy,gnp,gnpold,localname,governmentform,headofstate,capital,code2
29,GBR,United Kingdom,Europe,British Islands,242900,1066,59623400,77.7,1378330,1296830,United Kingdom,Constitutional Monarchy,Elisabeth II,456,GB
48,ETH,Ethiopia,Africa,Eastern Africa,1104300,-1000,62565000,45.2,6353,6180,YeItyop´iya,Republic,Negasso Gidada,756,ET
81,JPN,Japan,Asia,Eastern Asia,377829,-660,126714000,80.7,3787042,4192638,Nihon/Nippon,Constitutional Monarchy,Akihito,1532,JP
93,CHN,China,Asia,Eastern Asia,9572900,-1523,1277558000,71.4,982268,917719,Zhongquo,People'sRepublic,Jiang Zemin,1891,CN
159,PRT,Portugal,Europe,Southern Europe,91982,1143,9997600,75.8,105954,102133,Portugal,Republic,Jorge Sampãio,2914,PT
164,FRA,France,Europe,Western Europe,551500,843,59225700,78.8,1424285,1392448,France,Republic,Jacques Chirac,2974,FR
170,SWE,Sweden,Europe,Nordic Countries,449964,836,8861400,79.6,226492,227757,Sverige,Constitutional Monarchy,Carl XVI Gustaf,3048,SE
180,SMR,San Marino,Europe,Southern Europe,61,885,27000,81.1,510,NaN,San Marino,Republic,NaN,3171,SM
200,DNK,Denmark,Europe,Nordic Countries,43094,800,5330000,76.5,174099,169264,Danmark,Constitutional Monarchy,Margrethe II,3315,DK

## Relational Algebra:
### operators can be combined into a pipeline

In [5]:
country.query('indepyear < 1200').project(['name','indepyear'])

               name  indepyear
29   United Kingdom       1066
48         Ethiopia      -1000
81            Japan       -660
93            China      -1523
159        Portugal       1143
164          France        843
170          Sweden        836
180      San Marino        885
200         Denmark        800

## Relational Algebra:

### sort

In [8]:
country.query('indepyear < 1200').project(['name','indepyear']).sort('indepyear')

/usr/local/lib/python3.4/dist-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

               name  indepyear
93            China      -1523
48         Ethiopia      -1000
81            Japan       -660
200         Denmark        800
170          Sweden        836
164          France        843
180      San Marino        885
29   United Kingdom       1066
159        Portugal       1143

### Structured Query Language (SQL)

In [53]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## SQL is the language of database management systems

Database Management System (DBMS) provides:

* efficient
* reliable 
* convenient
* safe 
* multi-user 

storage of and access to massive amounts of persistent data

Many Database management systems are built on the relational model

* Postgresql, MySQL, SQLLITE
* Relation == Table
* Tuple == Row

In [21]:
# how many iPhones?
print("{:e}".format(15e18 / 32e9))
import decimal
print(decimal.Decimal(15e18/32e9).normalize().to_eng_string())

4.687500e+08
468.75E+6

## project  -- The basic select statement

In [54]:
%%sql postgresql://bmiller:@localhost/bmiller

select name, indepyear from country limit 10

10 rows affected.

[('Afghanistan', 1919),
 ('Netherlands', 1581),
 ('Netherlands Antilles', None),
 ('Albania', 1912),
 ('Algeria', 1962),
 ('American Samoa', None),
 ('Andorra', 1278),
 ('Angola', 1975),
 ('Anguilla', None),
 ('Antigua and Barbuda', 1981)]

## filter

In [26]:
%%sql

select name, indepyear 
from country 
where indepyear < 1200;

9 rows affected.

[('China', -1523),
 ('Ethiopia', -1000),
 ('Japan', -660),
 ('Denmark', 800),
 ('Sweden', 836),
 ('France', 843),
 ('San Marino', 885),
 ('United Kingdom', 1066),
 ('Portugal', 1143)]

## sort

In [57]:
%%sql

select name, indepyear 
from country 
where indepyear < 1200
order by indepyear;

9 rows affected.

[('China', -1523),
 ('Ethiopia', -1000),
 ('Japan', -660),
 ('Denmark', 800),
 ('Sweden', 836),
 ('France', 843),
 ('San Marino', 885),
 ('United Kingdom', 1066),
 ('Portugal', 1143)]